@model HospitalManagement_Entities.Models.ViewModel.ChangePasswordViewModel

@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using HospitalManagement.Constant

@{
    string userName = Context.Session.GetString(SessionKey.Nguoidung.UserName);
}


<form id="frm2" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
    <div class="form-group col-8 m-auto">
        <label class="control-label" for="user-settings-email">Email</label>
        <div>
            <input type="email" id="Edit_Email" class="form-control" value="@userName" readonly>
        </div>
    </div>

    <div class="form-group col-8 m-auto">
        <label class="control-label" for="user-settings-email">Mật khẩu cũ</label>
        <div>
            <input type="password" id="Edit_PassOld" asp-for="@Model.CurrentPassword" class="form-control" placeholder="Mật khẩu cũ">
            <span asp-validation-for="@Model.CurrentPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group col-8 m-auto">
        <label class="control-label" for="user-settings-email">Mật khẩu mới</label>
        <div>
            <input type="password" id="Edit_Passnew" asp-for="@Model.NewPassword" class="form-control" placeholder="Mật khẩu mới">
            <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group col-8 m-auto">
        <label class="control-label" for="user-settings-email">Xác nhận mật khẩu</label>
        <div>
            <input type="password" id="Edit_Passnew2" asp-for="@Model.ConfirmPassword" class="form-control" placeholder="Xác nhân mật khẩu mới">
            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group text-end mt-4 me-2">
        <div class="col-12 text-right">
            <button type="submit" onclick="ChangePass()" class="btn" style="width:20%; background-color: #52b788; color:white;">Lưu</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
        </div>
    </div>
</form>