@model HospitalManagement.Models.Thuoc


<style>
    .box {
        padding: 0;
        margin: 0;
    }

    h6 {
        margin-left: 10px;
        font-weight: 500;
        font-size: 18px;
    }

    .box-title-1 {
        background-color: white;
        border-left: 8px solid rgb(82, 183, 136);
    }

        .box-title-1 h4 {
            padding: 2%;
            font-size: 35px;
            font-weight: 400;
        }

    .box-left {
        margin-inline: 5%;
    }

    .form-check .form-label {
        margin-left: -4px;
    }

    .form-check-label {
        padding-left: 20px;
        font-weight: 400;
        color: gray;
    }

    .box-right {
        text-align: center;
    }

        .box-right .form-group .btn-img {
            width: 103%;
            margin-left: -1%;
            background-color: rgb(82, 183, 136);
            color: white;
            border: 2px solid rgb(82, 183, 136);
            transition: 0.25s all;
            padding: 10px 0 10px 0;
        }

            .box-right .form-group .btn-img:hover {
                background-color: white;
                border: 2px solid rgb(82, 183, 136);
                color: rgb(82, 183, 136);
            }

    #image-holder2 img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        object-position: center center;
    }
</style>

<div class="box-title-1 mb-4">
    <h4>Chỉnh sửa thuốc</h4>
</div>
<div class="box">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "d-flex flex-wrap", name = "frm", id = "frm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.MaThuoc)
        <div class="box-left col-sm-7 row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-4" style="display:none">
                <label class="control-label col-md-6" for="MaThuoc">MaThuoc</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaThuoc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaThuoc, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-4" style="display:none">
                <label class="control-label col-md-6" for="HinhAnh">HinhAnh</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HinhAnh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6">
                <h6>Tên thuốc<strong style="color:#b10c0c">&nbsp;(*)</strong></h6>
                <div class="col-12">
                    @Html.EditorFor(model => model.TenThuoc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenThuoc, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6">
                <h6>Đơn giá</h6>
                <div class="col-12">
                    @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6">
                <h6>Vị trí<strong style="color:#b10c0c">&nbsp;(*)</strong></h6>
                <div class="col-12">
                    @Html.EditorFor(model => model.Vitri, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Vitri, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group form-check col-md-5">
                <h6 class="form-label">Trạng thái</h6>
                <div>
                    <label class="form-check-label">
                        @Html.CheckBoxFor(model => model.TrangThai, new { @class = "form-check-input" }) Đang hoạt động
                    </label>
                </div>
            </div>
            <div class="form-group col-12">
                <h6>Thông tin<strong style="color:#b10c0c">&nbsp;(*)</strong></h6>
                <div class="col-12">
                    <textarea asp-for="ThongTin" class="form-control" rows="4"></textarea>
                    @Html.ValidationMessageFor(model => model.ThongTin, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <!--Phần hình-->
        <div class="box-right col-sm-3">
            <div class="form-group col-12">
                @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
                <div id="image-holder2">
                    <img src="~/images/imagesThuoc/@Model.HinhAnh" style='width: 250px;'>
                </div>
                <label class="btn-img btn mt-4">
                    <i class="fa fa-image"></i> &nbsp; Chọn hình<input style="display:none;" class="form-control" type="file" id="upload-back" accept="image/*" />
                </label>
            </div>
        </div>
    }
</div>

@*@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }*@
<script>

    $(document).ready(function () {

    });
    $('#upload-back').change(function (e) {
        var self = this;

        var file = e.target.files[0];
        const reader = new FileReader();
        reader.onloadend = () => {

            var img = "<img src='" + reader.result + "' style='width: 250px; height: 250px; object-fit: cover; object-position: center center;'/>"
            $('#image-holder2').html(img);
        };
        reader.readAsDataURL(file);

    });
</script>


